body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

h1 {
  font-size: 2.827em;
  line-height: 1.414em;
}

h3 {
  font-size: 1.414em;
  line-height: 1.414;
}

a {
  text-decoration: none;
}
a:link { color:#FFFFFF; }
a:visited { color:#FFFFFF; }
a:hover { color:#f2f7ff; }
a:active { color:#f2f7ff; }

nav {
  background-color: #7f7f7f;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
figcaption {
  font-size: 0.875em;
  line-height: 1.414em;
}
.author {
  font-size: .875em;
  line-height: 1.414em;
}
div.story-text {
  font-size: 100%;
  line-height: 1.414em;
}
